# Q.1  Write a Python program to get the smallest number from a list.

In [5]:
l=[11,2,3,4,5,6,7,8]
print(min(l))

2

# Q.2 Write a program to find unique elements of string specified by user and display unique elements in list

In [10]:
l=[1,2,3,4,5,3,7,5,9,2,6,6,5,0,13,45]
uni=[]
for i in l:
    if i not in uni:
        uni.append(i)
print(uni)

[1, 2, 3, 4, 5, 7, 9, 6, 0, 13, 45]

# Q.3 Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [23]:
my_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

del my_list[5]
del my_list[4]
del my_list[0]

print(my_list)

['Green', 'White', 'Black']

# Q.4 Write a program to display all the elements of odd position.

In [25]:
l=[1,2,3,4,5,6,7,8,9,10]
s=[]
for i in l:
    if i%2!=0:
        s.append(i)
s

[1, 3, 5, 7, 9]

# Q.5  Write a Python program to convert a string to a list.

In [28]:
s=input("enter the string:")
l=list(s)
print(l)

enter the string: pranav

['p', 'r', 'a', 'n', 'a', 'v']

# Q.6 Write a Python program to insert an element at a specified position into a given list.
- Original list:
- [1, 1, 2, 3, 4, 4, 5, 1]
- After inserting an element at kth position in the said list:
- [1, 1, 12, 2, 3, 4, 4, 5, 1]

In [30]:
l=[1, 1, 2, 3, 4, 4, 5, 1]
l.insert(2,12)
l

[1, 1, 12, 2, 3, 4, 4, 5, 1]

# Q.7 How to reverse the List using slice

In [36]:
l=[1,2,3,4,5,6,7,8,9]
rev=l[::-1]
rev

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Q.8 How to get the square of each list element between two range

In [37]:
l=[1,2,3,4,5,6,7,8,9]
s=[]
start=int(input("enter the start:"))
end=int(input("enter the end:"))
for i in range(start,end+1):
    s.append(i**2)
s

enter the start: 2
enter the end: 8

[4, 9, 16, 25, 36, 49, 64]

# Q.9 How to Filter even values from a list using list comprehension

In [49]:
m=[1,2,3,4,5,6,7,8,9,10]
e=[i for i in m if i%2==0]
print(e)

[2, 4, 6, 8, 10]

# Q.14: wap python function which display True if the first letter of every  word of the list is capital otherwise display False

In [66]:
l=[]
n=int(input("enter the no of elements u want to add in list"))
for i in range(n):
    e=input("enter the element")
    l.append(e)
l
def cap():
    for ch in l:
        if ch[0].isupper():
            return("true")
        else:
            return("false")

enter the no of elements u want to add in list 5
enter the element Pan
enter the element Van
enter the element Can
enter the element Man
enter the element Ran

In [69]:
cap()

'true'

# Q,13 
# l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
- task 1: sort the list alphabetically
- task2 : count the occurances of each elemnt in list
- task 3: count the occurances of each letter present as elemnt of list .
- task 4 : remove the duplicant letter and sort it in increasing order in the list

In [70]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']

In [77]:
# task 1
l.sort()
l

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [81]:
# task 2
from collections import Counter
Counter(l)

Counter({'a': 1,
         'brown': 1,
         'dog': 1,
         'fox': 1,
         'jumps': 1,
         'lazy': 1,
         'over': 1,
         'quick': 1,
         'the': 1})

In [86]:
# task 3
s=""
s1=s.join(l)
s1
from collections import Counter
Counter(s1)

Counter({'o': 4,
         'a': 2,
         'r': 2,
         'u': 2,
         'e': 2,
         'b': 1,
         'w': 1,
         'n': 1,
         'd': 1,
         'g': 1,
         'f': 1,
         'x': 1,
         'j': 1,
         'm': 1,
         'p': 1,
         's': 1,
         'l': 1,
         'z': 1,
         'y': 1,
         'v': 1,
         'q': 1,
         'i': 1,
         'c': 1,
         'k': 1,
         't': 1,
         'h': 1})

In [87]:
s=""
s1=s.join(l)
s1

'abrowndogfoxjumpslazyoverquickthe'

In [92]:
# task 4
uni=[]
for i in s1:
    if i not in uni:
        uni.append(i)
uni.sort()
uni

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

# Q.12 wap to display the square of int numbers and cube of float numbers of the list otherwise display hello
# example:
# [20,80,90.6,"ji",901]   ## input
# [400, 6400, 743677.4159999999, 'heelo', 811801]  ## output

In [98]:
l=[20,80,90.6,"ji",901]

In [99]:
s=[]
for i in l:
    if type(i)==int:
        s.append(i**2)
    elif type(i)==float:
        s.append(i**3)
    elif type(i)==str:
        s.append("hello")
    else:
        print("invalid type")
s

[400, 6400, 743677.4159999999, 'hello', 811801]

# Q.10  How to remove elements in a list before a specific index

In [106]:
l= [0,1,2,3,4,5,6,7,8,9,10]
index = 7
l= l[index:]
print(l)

[7, 8, 9, 10]

In [ ]:
# Q.11 wap to reverse each  elements of the list 
# l1=["23","78","hello","nitin","okay"] #output : l["32","87","olleh","nitin",yako"]
# l2=[23,78,"hello","nitin","okay"]   #output : l["23","78","olleh","nitin",yako"]

In [4]:
l1=["23","78","hello","nitin","okay"]
list(map(lambda x:x[::-1],l1))

['32', '87', 'olleh', 'nitin', 'yako']