# Write a program whether the given list of number is lucky.  a lucky list contains at least one number is divisible by 7.

In [7]:
l=(2,3,5,7)

In [8]:
count=0
for i in l:
    if i%7==0:
        count=count+1
if count>=1:
    print("lucky")
else:
    print("not lucky")

lucky

# Write a program to sum of all numbers from 1 to given number.

In [17]:
num=int(input("enter the number:"))
sum=0
for n in range(1,num+1):
    sum = (n * (n + 1)) // 2
print("total sum is :",sum)

enter the number: 3

total sum is : 6

# Write a program to display a to z

In [21]:
for i in range(97,123):
    print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

# Write a program to print the following using while loop   
# a. First 10 Even numbers   
# b. First 10 Odd numbers   
# c. First 10 Natural numbers   
# d. First 10 Whole numbers

In [36]:
# a
i=0
while(i<21):
    i%2==0
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20

In [37]:
# b
i=1
while(i<20):
    i%2==0
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

In [38]:
# c
i=1
while(i<11):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [40]:
# d
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

# Write a program to print first 10 integers and their squares using while loop.   
# 1 1   
# 2 4   
# 3 9 and so on

In [41]:
i=1
while(i<11):
    print(i,i**2)
    i=i+1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

# Write for loop statement to print the following series:   
# 10
# 20
# 30 
# .
#  300

In [48]:
for i in range(1,31):
    print(i*10,end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

# Write a while loop statement to print the following series   
# 105
# 98
# 91 
# .
# 7

In [49]:
i=105
while(i>6):
    print(i)
    i=i-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

# Write a program to enter the numbers till the user wants and at the end it should display the average of all the numbers entered.

In [58]:
count=0
sum=0
while(True):
    num=int(input("enter the number:"))
    count=count+1
    #print(count)
    sum=sum+num
    #print(sum)
    choice=input("if u want to enter another number press y otherwise any key")
    if choice=="y":
        continue
    else:
        break
print("average is ",sum/count)

enter the number: 1
if u want to enter another number press y otherwise any key y
enter the number: 2
if u want to enter another number press y otherwise any key y
enter the number: 3
if u want to enter another number press y otherwise any key y
enter the number: 4
if u want to enter another number press y otherwise any key y
enter the number: 5
if u want to enter another number press y otherwise any key l

average is  3.0

# Write a program to enter the numbers till the user enter ZERO and at the end it should display the count and sum of positive  , negative numbers  entered.

In [70]:
count = 0
sum_pos = 0
sum_neg = 0
l = [ ]
while True:
    num = int ( input ( 'enter the number'))
    if num == 0:
        break
    else:
        l.append ( num )
print ('the use inputted list is', l )
count = count + len ( l ) 
for i in l:
    if i > 0:
        sum_pos = sum_pos + i
    else:
        sum_neg = sum_neg + i

print ( "total count is",count )
print ( "total sum of positive numbers are",sum_pos)
print ( "total sum of negative numbers are",sum_neg )

enter the number 2
enter the number 3
enter the number 6
enter the number 5
enter the number -6
enter the number -9
enter the number -8
enter the number 0

the use inputted list is [2, 3, 6, 5, -6, -9, -8]
total count is 7
total sum of positive numbers are 16
total sum of negative numbers are -23

# Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)

In [74]:
for i in range(101,500):
    if i%13==0 and i%3!=3:
        print(i,"is divisible by 13 not by 3")
    else:
         print(i,"is not divisible by 13 not by 3")

101 is not divisible by 13 not by 3
102 is not divisible by 13 not by 3
103 is not divisible by 13 not by 3
104 is divisible by 13 not by 3
105 is not divisible by 13 not by 3
106 is not divisible by 13 not by 3
107 is not divisible by 13 not by 3
108 is not divisible by 13 not by 3
109 is not divisible by 13 not by 3
110 is not divisible by 13 not by 3
111 is not divisible by 13 not by 3
112 is not divisible by 13 not by 3
113 is not divisible by 13 not by 3
114 is not divisible by 13 not by 3
115 is not divisible by 13 not by 3
116 is not divisible by 13 not by 3
117 is divisible by 13 not by 3
118 is not divisible by 13 not by 3
119 is not divisible by 13 not by 3
120 is not divisible by 13 not by 3
121 is not divisible by 13 not by 3
122 is not divisible by 13 not by 3
123 is not divisible by 13 not by 3
124 is not divisible by 13 not by 3
125 is not divisible by 13 not by 3
126 is not divisible by 13 not by 3
127 is not divisible by 13 not by 3
128 is not divisible by 13 not by 3
129 is not divisible by 13 not by 3
130 is divisible by 13 not by 3
131 is not divisible by 13 not by 3
132 is not divisible by 13 not by 3
133 is not divisible by 13 not by 3
134 is not divisible by 13 not by 3
135 is not divisible by 13 not by 3
136 is not divisible by 13 not by 3
137 is not divisible by 13 not by 3
138 is not divisible by 13 not by 3
139 is not divisible by 13 not by 3
140 is not divisible by 13 not by 3
141 is not divisible by 13 not by 3
142 is not divisible by 13 not by 3
143 is divisible by 13 not by 3
144 is not divisible by 13 not by 3
145 is not divisible by 13 not by 3
146 is not divisible by 13 not by 3
147 is not divisible by 13 not by 3
148 is not divisible by 13 not by 3
149 is not divisible by 13 not by 3
150 is not divisible by 13 not by 3
151 is not divisible by 13 not by 3
152 is not divisible by 13 not by 3
153 is not divisible by 13 not by 3
154 is not divisible by 13 not by 3
155 is not divisible by 13 not by 3
156 is divisible by 13 not by 3
157 is not divisible by 13 not by 3
158 is not divisible by 13 not by 3
159 is not divisible by 13 not by 3
160 is not divisible by 13 not by 3
161 is not divisible by 13 not by 3
162 is not divisible by 13 not by 3
163 is not divisible by 13 not by 3
164 is not divisible by 13 not by 3
165 is not divisible by 13 not by 3
166 is not divisible by 13 not by 3
167 is not divisible by 13 not by 3
168 is not divisible by 13 not by 3
169 is divisible by 13 not by 3
170 is not divisible by 13 not by 3
171 is not divisible by 13 not by 3
172 is not divisible by 13 not by 3
173 is not divisible by 13 not by 3
174 is not divisible by 13 not by 3
175 is not divisible by 13 not by 3
176 is not divisible by 13 not by 3
177 is not divisible by 13 not by 3
178 is not divisible by 13 not by 3
179 is not divisible by 13 not by 3
180 is not divisible by 13 not by 3
181 is not divisible by 13 not by 3
182 is divisible by 13 not by 3
183 is not divisible by 13 not by 3
184 is not divisible by 13 not by 3
185 is not divisible by 13 not by 3
186 is not divisible by 13 not by 3
187 is not divisible by 13 not by 3
188 is not divisible by 13 not by 3
189 is not divisible by 13 not by 3
190 is not divisible by 13 not by 3
191 is not divisible by 13 not by 3
192 is not divisible by 13 not by 3
193 is not divisible by 13 not by 3
194 is not divisible by 13 not by 3
195 is divisible by 13 not by 3
196 is not divisible by 13 not by 3
197 is not divisible by 13 not by 3
198 is not divisible by 13 not by 3
199 is not divisible by 13 not by 3
200 is not divisible by 13 not by 3
201 is not divisible by 13 not by 3
202 is not divisible by 13 not by 3
203 is not divisible by 13 not by 3
204 is not divisible by 13 not by 3
205 is not divisible by 13 not by 3
206 is not divisible by 13 not by 3
207 is not divisible by 13 not by 3
208 is divisible by 13 not by 3
209 is not divisible by 13 not by 3
210 is not divisible by 13 not by 3
211 is not divisible by 13 not by 3
212 is not divisible by 13 not by 3
213 is not divisible by 13 not by 3
214 is not divisible by 13 not by 3
215 is not divisible by 13 not by 3
216 is not divisible by 13 not by 3
217 is not divisible by 13 not by 3
218 is not divisible by 13 not by 3
219 is not divisible by 13 not by 3
220 is not divisible by 13 not by 3
221 is divisible by 13 not by 3
222 is not divisible by 13 not by 3
223 is not divisible by 13 not by 3
224 is not divisible by 13 not by 3
225 is not divisible by 13 not by 3
226 is not divisible by 13 not by 3
227 is not divisible by 13 not by 3
228 is not divisible by 13 not by 3
229 is not divisible by 13 not by 3
230 is not divisible by 13 not by 3
231 is not divisible by 13 not by 3
232 is not divisible by 13 not by 3
233 is not divisible by 13 not by 3
234 is divisible by 13 not by 3
235 is not divisible by 13 not by 3
236 is not divisible by 13 not by 3
237 is not divisible by 13 not by 3
238 is not divisible by 13 not by 3
239 is not divisible by 13 not by 3
240 is not divisible by 13 not by 3
241 is not divisible by 13 not by 3
242 is not divisible by 13 not by 3
243 is not divisible by 13 not by 3
244 is not divisible by 13 not by 3
245 is not divisible by 13 not by 3
246 is not divisible by 13 not by 3
247 is divisible by 13 not by 3
248 is not divisible by 13 not by 3
249 is not divisible by 13 not by 3
250 is not divisible by 13 not by 3
251 is not divisible by 13 not by 3
252 is not divisible by 13 not by 3
253 is not divisible by 13 not by 3
254 is not divisible by 13 not by 3
255 is not divisible by 13 not by 3
256 is not divisible by 13 not by 3
257 is not divisible by 13 not by 3
258 is not divisible by 13 not by 3
259 is not divisible by 13 not by 3
260 is divisible by 13 not by 3
261 is not divisible by 13 not by 3
262 is not divisible by 13 not by 3
263 is not divisible by 13 not by 3
264 is not divisible by 13 not by 3
265 is not divisible by 13 not by 3
266 is not divisible by 13 not by 3
267 is not divisible by 13 not by 3
268 is not divisible by 13 not by 3
269 is not divisible by 13 not by 3
270 is not divisible by 13 not by 3
271 is not divisible by 13 not by 3
272 is not divisible by 13 not by 3
273 is divisible by 13 not by 3
274 is not divisible by 13 not by 3
275 is not divisible by 13 not by 3
276 is not divisible by 13 not by 3
277 is not divisible by 13 not by 3
278 is not divisible by 13 not by 3
279 is not divisible by 13 not by 3
280 is not divisible by 13 not by 3
281 is not divisible by 13 not by 3
282 is not divisible by 13 not by 3
283 is not divisible by 13 not by 3
284 is not divisible by 13 not by 3
285 is not divisible by 13 not by 3
286 is divisible by 13 not by 3
287 is not divisible by 13 not by 3
288 is not divisible by 13 not by 3
289 is not divisible by 13 not by 3
290 is not divisible by 13 not by 3
291 is not divisible by 13 not by 3
292 is not divisible by 13 not by 3
293 is not divisible by 13 not by 3
294 is not divisible by 13 not by 3
295 is not divisible by 13 not by 3
296 is not divisible by 13 not by 3
297 is not divisible by 13 not by 3
298 is not divisible by 13 not by 3
299 is divisible by 13 not by 3
300 is not divisible by 13 not by 3
301 is not divisible by 13 not by 3
302 is not divisible by 13 not by 3
303 is not divisible by 13 not by 3
304 is not divisible by 13 not by 3
305 is not divisible by 13 not by 3
306 is not divisible by 13 not by 3
307 is not divisible by 13 not by 3
308 is not divisible by 13 not by 3
309 is not divisible by 13 not by 3
310 is not divisible by 13 not by 3
311 is not divisible by 13 not by 3
312 is divisible by 13 not by 3
313 is not divisible by 13 not by 3
314 is not divisible by 13 not by 3
315 is not divisible by 13 not by 3
316 is not divisible by 13 not by 3
317 is not divisible by 13 not by 3
318 is not divisible by 13 not by 3
319 is not divisible by 13 not by 3
320 is not divisible by 13 not by 3
321 is not divisible by 13 not by 3
322 is not divisible by 13 not by 3
323 is not divisible by 13 not by 3
324 is not divisible by 13 not by 3
325 is divisible by 13 not by 3
326 is not divisible by 13 not by 3
327 is not divisible by 13 not by 3
328 is not divisible by 13 not by 3
329 is not divisible by 13 not by 3
330 is not divisible by 13 not by 3
331 is not divisible by 13 not by 3
332 is not divisible by 13 not by 3
333 is not divisible by 13 not by 3
334 is not divisible by 13 not by 3
335 is not divisible by 13 not by 3
336 is not divisible by 13 not by 3
337 is not divisible by 13 not by 3
338 is divisible by 13 not by 3
339 is not divisible by 13 not by 3
340 is not divisible by 13 not by 3
341 is not divisible by 13 not by 3
342 is not divisible by 13 not by 3
343 is not divisible by 13 not by 3
344 is not divisible by 13 not by 3
345 is not divisible by 13 not by 3
346 is not divisible by 13 not by 3
347 is not divisible by 13 not by 3
348 is not divisible by 13 not by 3
349 is not divisible by 13 not by 3
350 is not divisible by 13 not by 3
351 is divisible by 13 not by 3
352 is not divisible by 13 not by 3
353 is not divisible by 13 not by 3
354 is not divisible by 13 not by 3
355 is not divisible by 13 not by 3
356 is not divisible by 13 not by 3
357 is not divisible by 13 not by 3
358 is not divisible by 13 not by 3
359 is not divisible by 13 not by 3
360 is not divisible by 13 not by 3
361 is not divisible by 13 not by 3
362 is not divisible by 13 not by 3
363 is not divisible by 13 not by 3
364 is divisible by 13 not by 3
365 is not divisible by 13 not by 3
366 is not divisible by 13 not by 3
367 is not divisible by 13 not by 3
368 is not divisible by 13 not by 3
369 is not divisible by 13 not by 3
370 is not divisible by 13 not by 3
371 is not divisible by 13 not by 3
372 is not divisible by 13 not by 3
373 is not divisible by 13 not by 3
374 is not divisible by 13 not by 3
375 is not divisible by 13 not by 3
376 is not divisible by 13 not by 3
377 is divisible by 13 not by 3
378 is not divisible by 13 not by 3
379 is not divisible by 13 not by 3
380 is not divisible by 13 not by 3
381 is not divisible by 13 not by 3
382 is not divisible by 13 not by 3
383 is not divisible by 13 not by 3
384 is not divisible by 13 not by 3
385 is not divisible by 13 not by 3
386 is not divisible by 13 not by 3
387 is not divisible by 13 not by 3
388 is not divisible by 13 not by 3
389 is not divisible by 13 not by 3
390 is divisible by 13 not by 3
391 is not divisible by 13 not by 3
392 is not divisible by 13 not by 3
393 is not divisible by 13 not by 3
394 is not divisible by 13 not by 3
395 is not divisible by 13 not by 3
396 is not divisible by 13 not by 3
397 is not divisible by 13 not by 3
398 is not divisible by 13 not by 3
399 is not divisible by 13 not by 3
400 is not divisible by 13 not by 3
401 is not divisible by 13 not by 3
402 is not divisible by 13 not by 3
403 is divisible by 13 not by 3
404 is not divisible by 13 not by 3
405 is not divisible by 13 not by 3
406 is not divisible by 13 not by 3
407 is not divisible by 13 not by 3
408 is not divisible by 13 not by 3
409 is not divisible by 13 not by 3
410 is not divisible by 13 not by 3
411 is not divisible by 13 not by 3
412 is not divisible by 13 not by 3
413 is not divisible by 13 not by 3
414 is not divisible by 13 not by 3
415 is not divisible by 13 not by 3
416 is divisible by 13 not by 3
417 is not divisible by 13 not by 3
418 is not divisible by 13 not by 3
419 is not divisible by 13 not by 3
420 is not divisible by 13 not by 3
421 is not divisible by 13 not by 3
422 is not divisible by 13 not by 3
423 is not divisible by 13 not by 3
424 is not divisible by 13 not by 3
425 is not divisible by 13 not by 3
426 is not divisible by 13 not by 3
427 is not divisible by 13 not by 3
428 is not divisible by 13 not by 3
429 is divisible by 13 not by 3
430 is not divisible by 13 not by 3
431 is not divisible by 13 not by 3
432 is not divisible by 13 not by 3
433 is not divisible by 13 not by 3
434 is not divisible by 13 not by 3
435 is not divisible by 13 not by 3
436 is not divisible by 13 not by 3
437 is not divisible by 13 not by 3
438 is not divisible by 13 not by 3
439 is not divisible by 13 not by 3
440 is not divisible by 13 not by 3
441 is not divisible by 13 not by 3
442 is divisible by 13 not by 3
443 is not divisible by 13 not by 3
444 is not divisible by 13 not by 3
445 is not divisible by 13 not by 3
446 is not divisible by 13 not by 3
447 is not divisible by 13 not by 3
448 is not divisible by 13 not by 3
449 is not divisible by 13 not by 3
450 is not divisible by 13 not by 3
451 is not divisible by 13 not by 3
452 is not divisible by 13 not by 3
453 is not divisible by 13 not by 3
454 is not divisible by 13 not by 3
455 is divisible by 13 not by 3
456 is not divisible by 13 not by 3
457 is not divisible by 13 not by 3
458 is not divisible by 13 not by 3
459 is not divisible by 13 not by 3
460 is not divisible by 13 not by 3
461 is not divisible by 13 not by 3
462 is not divisible by 13 not by 3
463 is not divisible by 13 not by 3
464 is not divisible by 13 not by 3
465 is not divisible by 13 not by 3
466 is not divisible by 13 not by 3
467 is not divisible by 13 not by 3
468 is divisible by 13 not by 3
469 is not divisible by 13 not by 3
470 is not divisible by 13 not by 3
471 is not divisible by 13 not by 3
472 is not divisible by 13 not by 3
473 is not divisible by 13 not by 3
474 is not divisible by 13 not by 3
475 is not divisible by 13 not by 3
476 is not divisible by 13 not by 3
477 is not divisible by 13 not by 3
478 is not divisible by 13 not by 3
479 is not divisible by 13 not by 3
480 is not divisible by 13 not by 3
481 is divisible by 13 not by 3
482 is not divisible by 13 not by 3
483 is not divisible by 13 not by 3
484 is not divisible by 13 not by 3
485 is not divisible by 13 not by 3
486 is not divisible by 13 not by 3
487 is not divisible by 13 not by 3
488 is not divisible by 13 not by 3
489 is not divisible by 13 not by 3
490 is not divisible by 13 not by 3
491 is not divisible by 13 not by 3
492 is not divisible by 13 not by 3
493 is not divisible by 13 not by 3
494 is divisible by 13 not by 3
495 is not divisible by 13 not by 3
496 is not divisible by 13 not by 3
497 is not divisible by 13 not by 3
498 is not divisible by 13 not by 3
499 is not divisible by 13 not by 3

# Write a program to print the following series till n terms.   
# 1
#  4
#  9

In [1]:
# i=1
# while(True):
#     print(i**2,end=" ")
#     i=i+1

# Wap to take username and password from user and save it and then allow the user to sign  if he/she is authenticate user then sign happens else no . an give 5 attempts after 5 attempts if he doe not give right crenditials. then display tried next time

In [82]:
username="pranav"
password="pranav123"

In [88]:
username=input("enter the username:")
attempt=0
while(True):
    if attempt<5:
        # username1=input("enter the username:")
        password1=input("enter the password:")
        if password1==password:
            print("login succesfully")
            print("welcome.......",username)
            break
        else:
            attempt=attempt+1
            print(attempt)
            print("invalid password ...kindly re enter")
            continue
    else:
        print("please try next time")
        break

enter the username: pranav
enter the password: pranl

1
invalid password ...kindly re enter

enter the password: nldfs

2
invalid password ...kindly re enter

enter the password: pranav123

login succesfully
welcome....... pranav

# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [92]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number

In [1]:
for num in range(1000,3001):
    count=0
    n_s=str(num)
    for j in n_s:
        j=int(j)
        if j%2==0:
            count=count+1
    if count==4:
        print(num)

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

In [2]:
n=int(input("enter the value of n "))
for num in range(0,n):
    n_s=str(num)
    for j in n_s:
        if j not in  ["0","2","4","6","8"]:
            break
    else:
        print(num)

enter the value of n  50

0
2
4
6
8
20
22
24
26
28
40
42
44
46
48

# The given number is of one digited or two digited or three digited or more than three digited..
# INPUT: 945 
# OUTPUT: Three digit number

In [96]:
num=int(input("enter the number:"))
count=0
while(num>0):
    num=num//10
    count=count+1
print(count,"digit number")

enter the number: 945

3 digit number